<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shz.quick_qa_system.dao.TextQuestionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.shz.quick_qa_system.entity.TextQuestion">
        <id column="id" property="id" />
        <result column="question_id" property="questionId" />
        <result column="hint_text" property="hintText" />
        <result column="max_length" property="maxLength" />
        <result column="input_type" property="inputType" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, question_id, hint_text, max_length, input_type
    </sql>

</mapper>
